.Dashboard {
    display: grid;
    grid-template-columns: 16% 1fr;
    @apply overflow-y-hidden max-h-screen h-screen bg-indigo-50;
}
.Dashboard-display {
    max-height: 100vh;
    overflow-y: scroll;
}

@media(max-width: 768px){
    .Dashboard {
        grid-template-columns: 100%;
    }
}

@media (min-width: 769px) {
    .Dashboard {
        grid-template-columns: 30% 1fr;
    }
}
@media (min-width: 1024px) {
    .Dashboard {
        grid-template-columns: 16% 1fr;
    }
}